.intro__content-text {
    max-width: 70%;
    flex-wrap: wrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

@media screen and (max-width: 1024px) {
    .intro__content-text {
        max-width: 64%;
    }
}

@media screen and (max-width: 768px) {
    .intro__content-text {
        max-width: 90%;
    }
}

@media screen and (max-width: 425px) {
    .intro__content-text {
        max-width: 90%;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 32px;
    }
}