@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    src: url(./Inter-Thin.woff2) format("woff2"),
         url(./Inter-Thin.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    src: url(./Inter-ThinItalic.woff2) format("woff2"),
         url(./Inter-ThinItalic.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    src: url(./Inter-ExtraLight.woff2) format("woff2"),
         url(./Inter-ExtraLight.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    src: url(./Inter-ExtraLightItalic.woff2) format("woff2"),
         url(./Inter-ExtraLightItalic.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    src: url(./Inter-Light.woff2) format("woff2"),
         url(./Inter-Light.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    src: url(./Inter-LightItalic.woff2) format("woff2"),
         url(./Inter-LightItalic.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    src: url(./Inter-Regular.woff2) format("woff2"),
         url(Inter-Regular.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    src: url(./Inter-Italic.woff2) format("woff2"),
         url(./Inter-Italic.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    src: url(./Inter-Medium.woff2) format("woff2"),
         url(./Inter-Medium.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    src: url(./Inter-MediumItalic.woff2) format("woff2"),
         url(./Inter-MediumItalic.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    src: url(./Inter-SemiBold.woff2) format("woff2"),
         url(./Inter-SemiBold.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    src: url(./Inter-SemiBoldItalic.woff2) format("woff2"),
         url(./Inter-SemiBold.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    src: url(./Inter-Bold.woff2) format("woff2"),
         url(./Inter-Bold.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    src: url(./Inter-BoldItalic.woff2) format("woff2"),
         url(./Inter-BoldItalic.woff) format("woff");
  }

.page {
    max-width: 1440px;
    margin: 0;
    background-color: #2A2C2F;
    font-family: 'Inter';
}

.header {
    display: flex;
    max-width: 1440;
    height: 46px;
    padding: 0;
    margin: 33.79px 128px 50px;
    border: 1px pink solid;
    justify-content: space-between;
}

.header__lang {
    display: inline-flex;
    list-style: none;
    margin-left: 18px;
    margin-right: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
}

.lead {
    width: 985px;
    height: 950px;
    margin: 0 auto 81px;
    padding: 0;
    border: 1px pink solid;
}

.lead__title {
    margin: 0 0 50px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    color: #FFFFFF;
    border: 1px pink solid;
}

.lead__subtitle {
    max-width: 583px;
    margin: 0 auto 78px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: 1px pink solid;
}

.lead__image {
    max-width: 985px;
    max-height: 554px;
    object-fit: contain;
    padding: 0;
    margin: 0 0 10px 0;
    border: 1px pink solid;
}

.lead__caption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px pink solid;
}

.intro {
    max-width: 928px;
    max-height: 869px;
    margin: 0 529px 82px 228px;
    padding: 0;
    border: 1px pink solid;
}

.intro__title {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
}

.intro__content-row {
    max-width: 720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 167.44%;
    color: #FFFFFF;
}

.intro__content-row__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.intro__text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.photogrid {
    display: grid;
    margin: 0 auto 71px;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    max-width: 1184px;
    border: 1px pink solid;
}

.places {
    max-width: 986px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 60px 40px;
    max-width: 986px;
    max-height: 1132px;
    padding: 0;
    margin: 0 0 71px 0;
    border: 1px pink solid;
}

.place__title {
    max-width: 457px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    color: #FFFFFF;
    border: 1px pink solid;
}

.place__website {
    grid-column: 2/3;
    display: flex;
    flex-direction: column; 
    min-height: 46px;
    padding: 0;
    margin: 0;
    border: 1px pink solid;
}

.place__url-heading {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    border: 1px pink solid;
}

.place__url {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
    border: 1px pink solid;
}

.place__image {
    grid-row: 2/3;
    object-fit: contain;
    border: 1px pink solid;
}

.paragraph__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    border: 1px pink solid;
}

.place__paragraph {
    max-width: 484px;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    border: 1px pink solid;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1184px;
    max-height: 580px;
    margin: 0 auto 102px;
    border: 1px pink solid;
}

.video__content-title {
    max-width: 800px;
    margin: 0 0 37px 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    border: 1px pink solid;
}

.video__content-subtitle {
    max-width: 640px;
    margin: 0 0 72px 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border: 1px pink solid;
}

.video__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px red solid;
}

.video__item-iowa {
    width: 100%;
    background-image: url(images/video__item-bg-iowa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.video__item-wyoming {
    width: 100%;
    background-image: url(images/video__item-bg-wyoming.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.video__item-bg {
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
}

.video__icon_play {

}

.video__duration {
    max-width: 84px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
}

.video__title {
    max-width: 322px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    color: #FFFFFF;
}

.video__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}

.comments {
    display: flex;
    flex-direction: column;
    max-width: 1184px;
    margin: 0 auto 103px;
    align-items: center;
    border: 1px pink solid;
}

.comments__content-title {
    max-width: 800px;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 108.9%;
    text-align: center;
    color: #FFFFFF;
    border: 1px pink solid;
}

.comments__content-subtitle {
    max-width: 640px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border: 1px pink solid;
}

.comments__container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border: 1px pink solid;
}

.comment {
    display: flex;
    flex-direction: column;
    border: 1px pink solid;
}

.comments__image {
    width: 100px;
    height: 100px;
    align-self: start;
    border-radius: 50%;
    margin-bottom: 42px;
    border: 1px pink solid;
}

.comment__quote {
    max-width: 382;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    border: 1px pink solid;
}

.comment__author {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    border: 1px pink solid;
}

.cover {
    max-width: 1184px;
    max-height: 594px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    background-image: url(images/cover__cover-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px pink solid;
}

.cover__cover-bg {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.cover__title {
    max-width: 1094px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFDFD;
    border: 1px pink solid;
}

.cover__subtitle {
    max-width: 437px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}