@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    src: url(./Inter-Thin.woff2) format("woff2"),
         url(./Inter-Thin.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    src: url(./Inter-ThinItalic.woff2) format("woff2"),
         url(./Inter-ThinItalic.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    src: url(./Inter-ExtraLight.woff2) format("woff2"),
         url(./Inter-ExtraLight.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    src: url(./Inter-ExtraLightItalic.woff2) format("woff2"),
         url(./Inter-ExtraLightItalic.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    src: url(./Inter-Light.woff2) format("woff2"),
         url(./Inter-Light.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    src: url(./Inter-LightItalic.woff2) format("woff2"),
         url(./Inter-LightItalic.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    src: url(./Inter-Regular.woff2) format("woff2"),
         url(Inter-Regular.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    src: url(./Inter-Italic.woff2) format("woff2"),
         url(./Inter-Italic.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    src: url(./Inter-Medium.woff2) format("woff2"),
         url(./Inter-Medium.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    src: url(./Inter-MediumItalic.woff2) format("woff2"),
         url(./Inter-MediumItalic.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    src: url(./Inter-SemiBold.woff2) format("woff2"),
         url(./Inter-SemiBold.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    src: url(./Inter-SemiBoldItalic.woff2) format("woff2"),
         url(./Inter-SemiBold.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    src: url(./Inter-Bold.woff2) format("woff2"),
         url(./Inter-Bold.woff) format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    src: url(./Inter-BoldItalic.woff2) format("woff2"),
         url(./Inter-BoldItalic.woff) format("woff");
  }

.page {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    background-color: #2A2C2F;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #fff;
}

.header {
    display: flex;
    max-width: 92.5%;
    min-width: 24%;
    max-height: 46px;
    min-height: 36.27px;
    padding: 0;
    margin: 33.79px auto 50px;
    justify-content: space-between;
}

.header__lang {
    display: flex;
    list-style: none;
}

.header__lang-link {
    margin-left: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    text-align: right;
}

.header__lang-link_active {
    text-decoration: underline;
}

.lead {
    display: flex;
    flex-direction: column;
    max-width: 83%;
    margin: 0 auto 81px;
    padding: 0;
}

.lead__title {
    max-width: 782px;
    margin: 0 auto 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    color: #FFFFFF;
}

.lead__subtitle {
    max-width: 583px;
    margin: 0 auto 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.lead__image {
    width: 100%;
    margin: 0 auto 10px;
    max-height: 554px;
    object-fit: cover;
    padding: 0;
}

.lead__caption {
    max-width: inherit;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro {
    max-width: 83%;
    max-height: 869px;
    min-width: 288px;
    margin: 0 auto 82px;
    padding: 0;
}

.intro__title {
    max-width: 61%;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
}

.intro__content-row {
    max-width: 65%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 167.44%;
}

.intro__content-row__text {
    max-width: 70%;
    flex-wrap: wrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.intro__text {
    display: flex;
    flex-direction: column;
    max-width: 23%;
    max-height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.photogrid {
    display: grid;
    margin: 0 auto 71px;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px 16px;
    max-width: 92.5%;
}

.places {
    max-width: 83%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
}

.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 40px;
    max-width: 100%;
    padding: 0;
    margin: 0 0 71px 0;
}

.place__title {
    max-width: 457px;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
}

.place__website {
    grid-column: 2/3;
    display: flex;
    flex-direction: column; 
    align-self: flex-end;
    min-height: 46px;
    padding: 0;
    margin: 0;
}

.place__url-heading {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

.place__url {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
}

.place__image {
    grid-column: 1;
    object-fit: cover;
}

.paragraph__container {
    display: grid;
    align-items: flex-start;
    row-gap: 24px;
    margin: 0;
    padding: 0;
}

.place__paragraph {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.cover {
    max-width: 92.5%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 160px;
    padding: 0;
    background-image: url(images/cover__cover-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cover__overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.cover__title {
    max-width: 86%;
    margin: 283px auto 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFDFD;
}

.cover__subtitle {
    max-width: 437px;
    padding: 0;
    margin: 0 auto 283px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.footer {
    max-width: 92.5%;
    position: relative;
    display: grid;
    grid-template-columns: .4fr .6fr .6fr 3fr;
    margin: auto;
    padding: 0;
    align-content: center;
}

.footer__link {
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    color: #FFF;
}

.footer__copyright {
    display: flex;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 41px;
    text-align: right;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 92%;
    }

    .intro {
        max-width: 92%;
    }

    .intro__title {
        max-width: 70%;
    }

    .intro__content-row {
        max-width: 75%;
    }

    .intro__content-row__text {
        max-width: 64%;
    }

    .intro__text {
        max-width: 20%;
    }

    .photogrid {
        max-width: 92%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px 14px;
    }

    .places {
        max-width: 92%;
    }

    .place {
        max-width: 100%;
        gap: 40px 32px;
    }

    .place__image {
        object-fit: contain;
    }

    .cover {
        max-width: 100%;
    }

    .cover__subtitle {
        max-width: 31.5%;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
    }

    .lead__caption {
        padding-left: 24px;
    }

    .intro {
        max-width: 94%;
    }    

    .intro__title {
        max-width: 100%;
    }

    .intro__content-row {
        max-width: 100%;
    }

    .intro__content-row__text {
        max-width: 90%;
    }

    .intro__text {
        max-width: 25%;
    }

    .photogrid {
        max-width: 94%;
        grid-template-columns: repeat(2, 1fr);
    }

    .photogrid__item {
        width: 100%;
    }

    .places {
        max-width: 94%;
    }

    .place {
        column-gap: 20px;
    }

    .place__title {
        font-size: 42px;
        line-height: 110%;
    }

    .place__image {
        max-width: 100%;
    }

    .place__paragraph {
        font-size: 16px;
        line-height: 162%;
    }

    .cover__title {
        margin: 153px auto 32px;
    }

    .cover__subtitle {
        max-width: 42%;
        margin: 0 auto 153px;
    }

    .footer {
        max-width: 94%;
    }

    .footer__link {
        font-size: 16px;
        line-height: 112%;
    }
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 90%;
    }

    .header__lang-link {
        font-size: 18px;
        line-height: 133%;
    }

    .lead {
        max-width: 100%;
        margin-bottom: 64px;
    }

    .lead__title {
        font-size: 40px;
        line-height: 110%;
        margin-bottom: 16px;
    }

    .lead__subtitle {
        max-width: 90%;
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 40px;
    }

    .lead__image {
        margin-bottom: 8px;
    }

    .lead__caption {
        padding-left: 16px;
        font-size: 10px;
        line-height: 140%;
        letter-spacing: 0.15em;
    }
    
    .intro {
        max-width: 90%;
        margin-bottom: 64px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 109%;
    }

    .intro__content-row {
        font-size: 24px;
        line-height: 125%;
        margin-top: 40px;
        margin-bottom: 32px;
    }

    .intro__content-row__text {
        max-width: 90%;
        font-size: 15px;
        line-height: 162%;
        margin-top: 0;
        margin-bottom: 32px;
    }

    .intro__text {
        max-width: 60%;
    }

    .photogrid {
        max-width: 90%;
        grid-template-columns: 1fr;
    }

    .places {
        max-width: 100%;
    }

    .place {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 32px;
        max-width: 100%;
        padding: 0;
        margin: 0 0 48px 0;
    }

    .place__title {
        min-width: 90%;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto;
    }

    .place__website {
        display: none;
    }

    .paragraph__container {
        max-width: 90%;
        margin: 0 auto;
    }

    .cover {
        margin-bottom: 64px;
    }

    .cover__title {
        max-width: 90%;
        font-size: 32px;
        line-height: 109%;
        margin: 51px auto 16px;
    }

    .cover__subtitle {
        max-width: 90%;
        font-size: 16px;
        line-height: 114%;
        margin: 0 auto 50px;
    }

    .footer {
        max-width: 54%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 32px;
        margin: 0 136px 24px 16px;
    }

    .footer__link {
        font-size: 24px;
        line-height: 100%;
    }

    .footer__copyright {
        max-width: 100%;
        font-size: 13px;
        line-height: 100%;
        text-align: left;
        bottom: 0;
    }
}