@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter_Web/Inter-Regular.woff2) format("woff2"),
        url(./fonts/Inter_Web/Inter-Regular.woff) format("woff"),
        url(./fonts/Inter_Web/Inter-Black.woff) format("woff"),
        url(./fonts/Inter_Web/Inter-Black.woff2) format("woff2");
  }

.page {
    max-width: 1440px;
    margin: 0;
    background-color: #2A2C2F;
    font-family: 'Inter';
}

.header {
    display: flex;
    max-width: 1440;
    height: 46px;
    padding: 0;
    margin: 33.79px 128px 0;
    border: 1px pink solid;
    justify-content: space-between;
}

.header__lang {
    display: inline-flex;
    list-style: none;
    margin-left: 18px;
    margin-right: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
}