@import url(../intro/__title/intro__title.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__content-text/intro__content-text.css);
@import url(../intro/__content-row/intro__content-row.css);
@import url(../intro/__bold/intro__bold.css);

.intro {
    max-width: 77%;
    max-height: 869px;
    min-width: 288px;
    margin: 0 auto 82px;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 92%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 94%;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        max-width: 90%;
        margin-bottom: 64px;
    }
}