.photogrid__item {
    width: 100%;
    height: 213px;
}

@media screen and (max-width: 768px) {
    .photogrid__item {
        height: 264px;
    }
}

@media screen and (max-width: 425px) {
    .photogrid__item {
        height: 216px;
    }
}