@import url(../footer/__links/footer__links.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__copyright/footer__copyright.css);

.footer {
    max-width: 92.5%;
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 94%;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        max-width: 54%;
        margin: 0 136px 24px 16px;
    }
}